$bg1: #3B0B64;
$bg2: #780899;
$bg3: #AC14C9;

$button-main: #780899;
$button-card: #5e0579;
$button-hover: #b914da;
$button-active: #3B0B64;
$button-disabled: #cccccc;

$main-font: #F6F6F6;
$active-font: #780899;
$logo-font: #780899;
$disabled-font: #666666;

$success-color: #22af22;
$error-color: #c50f0f;
$warn-color: #eaa926;
$info-color: #1749af;

$hover-nav: #FFF;

$disabled-border: #999999;